# {{ ansible_managed }}

frontend bird-exporter-frontend
    bind :::9325 v4v6 ssl crt /etc/haproxy/prometheus-server.pem ca-file /etc/haproxy/prometheus-ca.pem verify required
    mode http
    default_backend bird-exporter-backend

backend bird-exporter-backend
    option httpchk get /
    http-check expect status 200
    server local 127.0.0.1:9324 check
